@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layoutts.cshtml";
}
<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <div class="row" style="margin-top:20px">
            <div class="col-md-4">
                <h3>Nộp hồ sơ</h3>
                <hr />
                <ul class="list-unstyled">
                    <li style="padding-bottom: 20px !important;">
                        <h6>EVN: Tăng giá điện, thu thêm 8000 tỷ, gần 30% hộ chỉ nộp thêm vài nghìn đồng</h6>
                        <p style="text-align: justify;">
                            Theo tính toán của Tập đoàn Điện lực Việt Nam cũng như của chuyên gia độc lập, giá điện tăng
                            3% chỉ tác động nhỏ ...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </li>
                    <li style="padding-bottom: 20px !important;">
                        <h6>Trung ương thảo luận báo cáo kiểm điểm của các ủy viên Bộ Chính trị, Ban Bí thư</h6>
                        <p style="text-align: justify;">
                            Một trong những nội dung quan trọng trong ngày làm việc thứ 2 là Trung ương thảo luận báo cáo
                            kiểm điểm cá nhân của các ủy viên Bộ Chính trị, Ban Bí thư khoá XIII.
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </li>
                    <li style="padding-bottom: 20px !important;">
                        <h6>Bộ trưởng Công an Tô Lâm nêu lý do nâng thời hạn thị thực điện tử lên 3 tháng</h6>
                        <p style="text-align: justify;">
                            Thời hạn thị thực điện tử đến 3 tháng phù hợp với thời gian lưu trú, nghỉ dưỡng dài ngày,
                            khảo sát thị trường, làm ăn đối với người nước ngoài.
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </li>
                    <li style="padding-bottom: 20px !important;">
                        <h6>Tạm giữ lái xe chống đối, gây nguy hiểm cho CSGT Hải Phòng</h6>
                        <p style="text-align: justify;">
                            Tài xế đã không dừng xe theo hiệu lệnh mà tiếp tục đi thẳng, ép một cảnh sát giao thông vào
                            xe khác.
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h3>Giới thiệu về các ngành</h3>
                <hr />
                <div class="row" style="padding-bottom: 20px !important;">
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Trực tiếp SEA Games 32 ngày 16/5: Việt Nam chắc ngôi nhất toàn đoàn</h6>
                        <p style="text-align: justify;">
                            Tấm HCV đầu tiên trong ngày thi đấu hôm nay của Việt Nam đến từ
                            đô cử Nguyễn Quốc Toàn ở hạng cân 89kg...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Nền tảng khoa học phi tập trung đạt giải nhất thi lập trình Oraichain Hackathon</h6>
                        <p style="text-align: justify;">
                            Oraichain Hackathon là cuộc thi lập trình được Trung ương Đoàn
                            tổ chức...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Mỗi hộ gia đình có ít nhất 1 người biết dùng dịch vụ công trực tuyến</h6>
                        <p style="text-align: justify;">
                            Thành viên các tổ công nghệ số cộng đồng trên toàn quốc sẽ đi
                            từng ngõ, gõ từng nhà để hướng
                            dẫn, hỗ trợ từng người dân ...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                </div>

                <div class="row" style="padding-bottom: 20px !important;">
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Bộ, ngành, địa phương nào xếp hạng cao về chất lượng phục vụ người dân</h6>
                        <p style="text-align: justify;">
                            Theo bộ chỉ số phục vụ người dân và doanh nghiệp, Hà Nam cùng Nam Định là 2 tỉnh có điểm số
                            cao hơn cả ở khối tỉnh, thành phố...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Đại tướng Tô Lâm: "Từ Bộ trưởng đến công an cấp xã đều phải sử dụng CNTT"</h6>
                        <p style="text-align: justify;">
                            Đại tướng Tô Lâm, Bộ trưởng Bộ Công an nhấn mạnh, cơ sở dữ liệu dân cư được ứng dụng sẽ tiết
                            kiệm công sức tiền bạc...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                    <div class="col-md-4">
                        <img src="https://picsum.photos/600/400" alt="Tin tức" class="img-fluid" />
                        <h6>Phục chế hình ảnh các anh hùng liệt sĩ bằng công nghệ AI</h6>
                        <p style="text-align: justify;">
                            Từ những bức ảnh bị bào mòn bởi thời gian, chân dung các anh hùng liệt sĩ đã được phục chế
                            lại nhờ công nghệ AI ...
                        </p>
                        <a href="#">Xem thêm &raquo;</a>
                    </div>
                </div>

            </div>

        </div>
    </section>
</main>