<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi hệ thống</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <h1 style="color:red; margin-top:50px!important">Lỗi hệ thống!</h1>
        <hr />
        <h3 style="color:red" >Đã xảy ra lỗi trong khi xử lý yêu cầu của bạn.</h3>
        <h3 style="color:red" >Vui lòng liên hệ số điện thoại: 0912.345.678 để được xử lý</h3>
    </div>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
</html>
