
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<style>
    p {
        text-align: justify;
    }
</style>

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h4 id="title">GIỚI THIỆU</h4>
        <p class="lead">Là hệ thống quản lý thu hồ sơ xét tuyển đại học online.</p>
        <hr />

    </section>

    <div class="row">
        <section class="col-xl-4" aria-labelledby="gettingStartedTitle">
            <h4 id="gettingStartedTitle">Ngành CNTT</h4>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-outline-dark" href="#">Xem chi tiết &raquo;</a></p>

        </section>
        <section class="col-xl-4" aria-labelledby="librariesTitle">
            <h4 id="librariesTitle">Ngành Sư phạm Tin</h4>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-outline-dark" href="#">Xem chi tiết &raquo;</a></p>
        </section>
        <section class="col-xl-4" aria-labelledby="hostingTitle">
            <h4 id="hostingTitle">Ngành TTĐPT</h4>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-outline-dark" href="#">Xem chi tiết &raquo;</a></p>
        </section>
    </div>
</main>