
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>Đăng nhập hệ thống</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link href="~/Content/img/iconFitc.ico" rel="shortcut icon" />
    <!--===============================================================================================-->

    <link href="~/Areas/Admin/ContentLogin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Areas/Admin/ContentLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link href="~/Areas/Admin/ContentLogin/fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" />
    <!--===============================================================================================-->

    <link href="~/Areas/Admin/ContentLogin/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Areas/Admin/ContentLogin/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('/Areas/Admin/ContentLogin/images/bg-01.jpg'); ">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                @using (Html.BeginForm("Login", "Logins", FormMethod.Post, htmlAttributes: new { @class = "login100-form validate-form" }))
                {
                    @Html.AntiForgeryToken()
                    <span class="p-b-49">
                        <center><h3> QUẢN LÝ XÉT TUYỂN </h3></center>
                    </span>
                    <hr>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
                        <span>Tài khoản</span>
                        <input class="input100" type="text" name="nguoidung_username" id="nguoidung_username" placeholder="Nhập tài khoản">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <span>Mật khẩu</span>
                        <input class="input100" type="password" name="nguoidung_pass" id="nguoidung_pass" placeholder="Nhập mật khẩu">
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31">
                        @*<a href="#">
                            Forgot password?
                        </a>*@
                        <p  class="text-danger">@ViewBag.LoginErrorMessager </p>
                    </div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                ĐĂNG NHẬP
                            </button>
                        </div>
                    </div>

                    @*<div class="txt1 text-center p-t-54 p-b-20">
                        <span>
                            Or Sign Up Using
                        </span>
                    </div>

                    <div class="flex-c-m">
                        <a href="#" class="login100-social-item bg1">
                            <i class="fa fa-facebook"></i>
                        </a>

                        <a href="#" class="login100-social-item bg2">
                            <i class="fa fa-twitter"></i>
                        </a>

                        <a href="#" class="login100-social-item bg3">
                            <i class="fa fa-google"></i>
                        </a>
                    </div>*@
                }
            </div>
        </div>
    </div>



    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Areas/Admin/ContentLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Areas/Admin/ContentLogin/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Areas/Admin/ContentLogin/js/main.js"></script>

</body>
</html>